body {
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 100%; /* Prevents horizonal scrollbar from showing up */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    color: red;
}

#header-and-links {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkred;
}

#header {
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
}

#header-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-right: 1rem;
}

#header-link {
    text-decoration: none;
    color: white;
}

#header-link:hover {
    cursor: pointer;
}

#first-section {
    height: 25rem;
    display: flex;
    justify-content: space-between;
}

#left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#left-side #welcome-text {
    max-width: 80%;
    font-size: 3.75rem;
    font-weight: bold;
    color: darkred;
    text-align: center;
}

#left-side #welcome-subtext {
    max-width: 80%;
    font-size: 1.5rem;
    color: rgb(180, 136, 24);
    text-align: center;
}

#sign-up-button {
    border: 0;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 10rem;
    font-size: 1.025rem;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

#sign-up-button:hover {
    cursor: pointer;
}

#right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-side img {
    width: 65%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.75rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.7);
}

#second-section {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: darkred;
}

#top-5-players-title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

#top-5-players {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75%;
}

#section-1, #section-2, #section-3, #section-4, #section-5 {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#section-1 img, #section-2 img, #section-3 img, #section-4 img, #section-5 img {
    height: 90%;
    width: 80%;
    border: 0.2rem solid rgb(180, 136, 24);
    border-radius: 0.75rem;
    object-fit: cover;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.7);
}

#image-subtext {
    color: white;
}

#quote-section {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#quote {
    width: 75%;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    color: rgb(180, 136, 24);
}

#quote-source {
    width: 75%;
    text-align: right;
    font-weight: bold;
    font-size: 1.25rem;
}

#fourth-section {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkred;
}

#newsletter-section {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(180, 136, 24);
}

#newsletter-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#newsletter-title {
    font-size: 2.25rem;
    color: white;
    font-weight: bold;
}

#newsletter-subtext {
    color: white;
}

#footer {
    text-align: center;
    padding: 0.5rem;
    background: white;
    color: darkred;
}

button:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

/* GitHub footer icon styling */
.fa-github {
    color: darkred;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}
  
/* GitHub footer icon animation on hover */
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}